* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #26C6DA;
  background: #263238;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0px auto;
}

.header {
  color: #00BCD4;
  font-size: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.quiz-container {
  height: 100%;
  width: 100%;
  margin-top: 15px;
}

.quiz {
  position: relative;
  padding: 30px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #00BCD4;
  border-radius: 3px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s all ease;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.questionTitle {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.answer {
  display: flex;
  flex-direction: column;
  color: #fff;
}

label {
  margin: 3px 0;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  border: none;
  color: #00BCD4;
  background: none;
  padding: 15px 10px;
  width: 90px;
  border-radius: 3px;
  border: 1px solid #00BCD4;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #00ACC1;
  color: #F5F5F5;
}

.btn:active {
  transform: translateY(1px);
}

.output {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}