<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Weather Widget</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="widget">
    <div class="details">
      <div class="temperature">{{t}}°</div>
      <div class="summary">
        <p class="summaryText">Mostly Cloudy</p>
      </div>
      <div class="precipitation">Precipitation: 20%</div>
      <div class="wind">Wind: 3 mph</div>
    </div>
    <div class="pictoBackdrop"></div>
    <div class="pictoFrame"></div>
    <div class="pictoCloudBig"></div>
    <div class="pictoCloudFill"></div>
    <div class="pictoCloudSmall"></div>
    <div class="iconCloudBig"></div>
    <div class="iconCloudFill"></div>
    <div class="iconCloudSmall"></div>
  </div>
</div>
<!-- partial -->
  
</body>
</html>
